<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
}
=======
 header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
}
>>>>>>> 99390a0e6285f8bcbe56e24b7a0a42e9b82e9ab4
